body{
	font-family: 'Oswald', 'sans-serif';
	font-size: 25px;
	font-weight: 300;
}

#title {
	font-size: 42px;
	color: white;
	background-color: #428bca;
	margin-bottom: 20px;
	opacity: 0.85;
}

.panel-heading
{
	background-color: #428bca !important;
	color:white !important;
	opacity: 0.75;
}

h1.higher { font-size: 36px; padding-bottom: 20px;}
.panel-heading{ font-family: Oswald; font-size: 24px !important;}

.bigIcon span { font-size: 32px;}

@font-face {
	font-family: 'captain-icon';
	src:url('fonts/captain-icon.eot?ndeh1k');
	src:url('fonts/captain-icon.eot?#iefixndeh1k') format('embedded-opentype'),
		url('fonts/captain-icon.woff?ndeh1k') format('woff'),
		url('fonts/captain-icon.ttf?ndeh1k') format('truetype'),
		url('fonts/captain-icon.svg?ndeh1k#captain-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'captain-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-296:before {
	content: "\e727";
}

.icon-368:before {
	content: "\e76f";
}

.icon-211:before {
	content: "\e6d2";
}

.icon-212:before {
	content: "\e6d3";
}
.icon-337:before {
	content: "\e750";
}

.pr10 { padding-right: 10px;}